.contacts {
  box-sizing: border-box;

  &__title {
    background: none;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 10px;

    &__icon {
      color: #fff;
      width: 20px;
      height: 20px;

      svg {
        width: 100%;
      }
    }
  }
}
