.projects {
  .list {
    .item {
      &__icon {
        margin-right: 15px;
        color: #208AB7;
      }

      &__link {
        text-decoration: none;

        &:active {
          color: #208AB7;
        }
      }
    }
  }
}
