.sidebar {
  // width: 320px;
  min-width: 320px;
  padding: 20px;
  box-sizing: border-box;
  flex: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: radial-gradient(circle, rgba(115, 210, 251, 0.808) 0%, rgba(32, 138, 183, 1) 100%);
  font-size: 18px;
}
