.avatar {
  max-width: 100%;
  width: 200px;
  height: 200px;
  padding: 6px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &__wrapper {
    border-radius: 50%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      object-fit: cover;
      width: 100%;
    }
  }
}
